<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<h2>User List </h2>

{% for d in data %}
    이름 {{d.name}}   age {{d.age}}  <a href="listuser?userid={{d.userid}}">삭제</a><br>
{% endfor %}

<form action="listuser">
    <input type="text" name="q">
    <input type="submit" value="검색">
    <input type="button" id="add" value="+">
    <!--pf) <button id="add">+</button>-->
</form>

<div id="layer">
    <form action="listuser" method="post">
        {% csrf_token %}
        userid: <input type="text" name="userid">
        name: <input type="text" name="name">
        age: <input type="text" name="age">
        hobby: <input type="text" name="hobby">
        <input type="submit" value="Add">
    </form>
</div>

<script>
    $("#layer").hide()              //처음에 안보이게
    $("#add").click( function() {
        $("#layer").toggle()
    });
</script>