<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<h1><font color="blue">My Board</font></h1>
로그인 사용자: {{username}} 님<br>


<h2>카테고리</h2>
<a href="/myboard/all/0/list">전체</a>
<a href="/myboard/data/0/list">자료실</a>
<a href="/myboard/common/0/list">일반게시판</a>
<a href="/myboard/etc/0/list">기타</a>
<br>
<!--부모에게 상속을 받고, 내가 렌더링한 부분은 여기에 넣겠다.-->
{% block content %}
{% endblock %}


<br><br><br>
copy right........<br>
서울특별시........
NEW BOOAOAOAOAOARRRRRRD